body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Blue Goblet Bold";
  src: local("Blue Goblet Bold"), url(./fonts/BlueGobletBold.otf) format("opentype");
}

@font-face {
  font-family: "Blue Goblet Regular";
  src: local("Blue Goblet Regular"), url(./fonts/BlueGobletRegular.ttf) format("truetype");
}

.flex {
  display: flex;
}